@using MvcCv.Models.Entity;
@model List<TblSosyalMedya>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title" style="font-size:36px;font-family:Dubai">Sosyal Medya Listesi</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>ID</th>
                                        <th>Ad</th>
                                    </tr>
                                    @foreach (var x in Model)
                                    {
                                        <tr>
                                            <td>@x.ID</td>
                                            <td>@x.Ad</td>
                                            <td>
                                                <a href="/SosyalMedya/SosyalMedyaGetir/@x.ID" class="btn btn-info">
                                                    <i class="fas fa-pencil-alt"></i>
                                                    Duzenle
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/SosyalMedya/SosyalMedyaSil/@x.ID" class="btn btn-danger">
                                                    <i class="fas fa-trash-alt"></i>
                                                    Sil
                                                </a>
                                            </td>

                                        </tr>
                                    }

                                </table>

                            </div>

                        </div>
                        <a href="/SosyalMedya/SosyalMedyaEkle/"><button accesskey="" class="btn btn-success">Yeni SosyalMedya Ekle</button></a>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>
</html>

